.App {
    --header_height: 60px;
    display: flex;
    width: 1280px;
    padding: 131px 0px 216px 0px;
    justify-content: center;
    align-items: center;

}

.hw {
    /*display: flex;*/
    /*flex-direction: column;*/

}

.hwTitle {

}