.sendForm {
display: flex;
   gap:44px;

}

.textarea {
    width: 976px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F7FB;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10), 0px 5px 20px 0px rgba(29, 33, 38, 0.03);
    padding: 12px 12px 12px 24px;
    resize: none;

}
textarea::-webkit-scrollbar {
    width: 0;
}

.button {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #06C;
    color:#fff;
    outline:none;
}

.button:hover {

}
.button:active {

}
